 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
            *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
            }
            .sidebar{
            position: fixed;
            height: 100%;
            width: 240px;
            background: #847d7d;
            transition: all 0.5s ease;
            }
            .sidebar.active{
            width: 60px;
            }
            .sidebar .logo-details{
            height: 80px;
            display: flex;
            align-items: center;
            }
            .sidebar .logo-details i{
            font-size: 28px;
            font-weight: 500;
            color: #fff;
            min-width: 60px;
            text-align: center
            }
            .sidebar .logo-details .logo_name{
            color: #fff;
            font-size: 24px;
            font-weight: 500;
            }
            .sidebar .nav-links{
            margin-top: 10px;
            }
            .sidebar .nav-links li{
            position: relative;
            list-style: none;
            height: 50px;
            }
            .sidebar .nav-links li a{
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            transition: all 0.4s ease;
            }
            .sidebar .nav-links li a.active{
            background: #081D45;
            }
            .sidebar .nav-links li a:hover{
            background: #081D45;
            }
            .sidebar .nav-links li i{
            min-width: 60px;
            text-align: center;
            font-size: 18px;
            color: #fff;
            }
            .sidebar .nav-links li a .links_name{
            color: #fff;
            font-size: 15px;
            font-weight: 400;
            white-space: nowrap;
            }
            .sidebar .nav-links .log_out{
            position: absolute;
            bottom: 0;
            width: 100%;
            }
            .home-section{
            position: relative;
            background: #EDE9D5;
            min-height: 100vh;
            width: calc(100% - 240px);
            left: 240px;
            transition: all 0.5s ease;
            padding-bottom: 20px;
            }
            .sidebar.active ~ .home-section{
            width: calc(100% - 60px);
            left: 60px;
            }
            .home-section nav{
            display: flex;
            justify-content: space-between;
            height: 80px;
            background: #fff;
            display: flex;
            align-items: center;
            position: fixed;
            width: calc(100% - 240px);
            left: 240px;
            z-index: 100;
            padding: 0 20px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            transition: all 0.5s ease;
            }
            .sidebar.active ~ .home-section nav{
            left: 60px;
            width: calc(100% - 60px);
            }
            .home-section nav .sidebar-button{
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
            }
            nav .sidebar-button i{
            font-size: 35px;
            margin-right: 10px;
            }

            .home-section nav .profile-details{
            display: flex;
            align-items: center;
            background: #F5F6FA;
            border: 2px solid #EFEEF1;
            border-radius: 6px;
            height: 50px;
            min-width: 190px;
            padding: 0 15px 0 2px;
            }
            nav .profile-details img{
            height: 40px;
            width: 40px;
            border-radius: 6px;
            object-fit: cover;
            }
            nav .profile-details .admin_name{
            font-size: 15px;
            font-weight: 500;
            color: #333;
            margin: 0 10px;
            white-space: nowrap;
            }
            nav .profile-details i{
            font-size: 25px;
            color: #333;
            }
            .home-section .home-content{
            position: relative;
            padding-top: 104px;
            display: flex;
            flex-direction: column;
            }
            .home-content .overview-boxes{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0 20px;
            margin-bottom: 26px;
            }
            .overview-boxes .box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50%;
            background: #fff;
            padding: 10px 14px;
            border-radius: 12px;
            margin: auto;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            }

            .overview-boxes .box-topic{
            font-size: 20px;
            font-weight: 500;
            }
            
            /* Responsive Media Query */
            @media (max-width: 1240px) {
            .sidebar{
                width: 60px;
            }
            .sidebar.active{
                width: 220px;
            }
            .home-section{
                width: calc(100% - 60px);
                left: 60px;
            }
            .sidebar.active ~ .home-section{
                /* width: calc(100% - 220px); */
                overflow: hidden;
                left: 220px;
            }
            .home-section nav{
                width: calc(100% - 60px);
                left: 60px;
            }
            .sidebar.active ~ .home-section nav{
                width: calc(100% - 220px);
                left: 220px;
            }
            }

            @media (max-width: 1000px) {
            .overview-boxes .box{
                width: calc(100% / 2 - 15px);
                margin-bottom: 15px;
            }
            }
            @media (max-width: 700px) {
            nav .sidebar-button .dashboard,
            nav .profile-details .admin_name,
            nav .profile-details i{
                display: none;
            }
            .home-section nav .profile-details{
                height: 50px;
                min-width: 40px;
            }
            
            }
            @media (max-width: 550px) {
            .overview-boxes .box{
                width: 100%;
                margin-bottom: 15px;
            }
            .sidebar.active ~ .home-section nav .profile-details{
                display: none;
            }
            }
            @media (max-width: 400px) {
            .sidebar{
                width: 0;
            }
            .sidebar.active{
                width: 60px;
            }
            
            .home-section{
                width: 100%;
                left: 0;
            }
            .sidebar.active ~ .home-section{
                left: 60px;
                width: calc(100% - 60px);
            }
            .home-section nav{
                width: 100%;
                left: 0;
            }
            .sidebar.active ~ .home-section nav{
                left: 60px;
                width: calc(100% - 60px);
            }
            }

            .container {
                display: flex;
                width:100%;
            }

            .card{
              margin: 1rem;
              width: 350px;
              height: 500px;
              padding: .5rem 1rem;
              background-color: white;
              border-radius: 8px;
              box-shadow: 0 12px 32px 4px rgba(black, .2);
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
              transition: .2s;
              box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
              }

              .card img{
                  width: 200px;
                  height: 200px;
                  border-radius: 25%;
                  margin: 5px;
              }

              .card .details{
                  margin: 10px;
              }

              .card .details h2{
                  font-weight: 600;
              }

              .card .details p{
                  text-transform: uppercase;
                  font-weight: 300;
              }

              .edit {
                width: 100%;
                background-color: #847d7d;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                border-radius: 4px;
                cursor: pointer;
              }
              
              input[type=submit] {
            width: 100%;
            background-color: #847d7d;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            }

            input[type=submit]:hover {
            background-color: #9c8c8c;
            }

            .isi {
            background-color: #f2f2f2;
            padding: 20px;
            margin: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85%;
            background: #fff;
            border-radius: 12px;
            box-shadow: 0 5px 10px rgba(0,0,0,0.1);
            }
            input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            }

            input[type=textarea], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            }


            article {
                --img-scale: 1.001;
                --title-color: black;
                --link-icon-translate: -20px;
                --link-icon-opacity: 0;
                position: relative;
                border-radius: 16px;
                box-shadow: none;
                background: #fff;
                transform-origin: center;
                transition: all 0.4s ease-in-out;
                overflow: hidden;
              }
              
              article a::after {
                position: absolute;
                inset-block: 0;
                inset-inline: 0;
                cursor: pointer;
                content: "";
              }
              
              /* basic article elements styling */
              article h2 {
                margin: 0 0 18px 0;
                font-family: "Bebas Neue", cursive;
                font-size: 1.9rem;
                letter-spacing: 0.06em;
                color: var(--title-color);
                transition: color 0.3s ease-out;
              }
              
              figure {
                margin: 0;
                padding: 0;
                aspect-ratio: 16 / 9;
                overflow: hidden;
              }
              
              article img {
                max-width: 100%;
                transform-origin: center;
                transform: scale(var(--img-scale));
                transition: transform 0.4s ease-in-out;
              }
              
              .article-body {
                padding: 24px;
              }
              
              article a {
                display: inline-flex;
                align-items: center;
                text-decoration: none;
                color: #28666e;
              }
              
              article a:focus {
                outline: 1px dotted #28666e;
              }
              
              article a .icon {
                min-width: 24px;
                width: 24px;
                height: 24px;
                margin-left: 5px;
                transform: translateX(var(--link-icon-translate));
                opacity: var(--link-icon-opacity);
                transition: all 0.3s;
              }
              
              /* using the has() relational pseudo selector to update our custom properties */
              article:has(:hover, :focus) {
                --img-scale: 1.1;
                --title-color: #28666e;
                --link-icon-translate: 0;
                --link-icon-opacity: 1;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
              }
              
              *,
              *::before,
              *::after {
                box-sizing: border-box;
              }
              
              .articles {
                display: grid;
                max-width: 1200px;
                margin-inline: auto;
                padding-inline: 24px;
                grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
                gap: 24px;
              }
              
           
